* {
    margin: 0;
    padding: 0
}

body {
    background-color: #fff281;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content {
    text-align: center;
    background-color: #000;
    color: rgb(255, 255, 255);
    padding: 30px;
    font-family: Arial, sans-serif
}

.formulario {
    background-color: rgb(0, 0, 0);
    padding: 12px 20px 12px 40px;
    color: rgb(95, 95, 95);
}

#busqueda {
    background-position: 10px 10px;
    width: 100%;
    font-size: 16px;
    color: #e21313;
}
